@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200&family=Mooli&family=Roboto&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(172, 193, 232);
    font-family: "Montserrat";
}

header {
    background-color: #e8eb90; 
    color: white; 
    padding: 15px;
    text-align: center;
}


nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    align-items: center;
    position: relative;
}

#nav-menu {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    display: none; 
    position: absolute; 
    top: 100%;
    background-color: #e8eb90; 
    width: 100%; 
}

#nav-menu.show {
    display: block;
}

nav ul li {
    padding: 10px 0;
    text-align: center;
}

nav a {
    text-decoration: none; 
}

nav a:hover {
    background-color: rgb(111, 255, 0); 
    color: white; 
    border-radius: 10px;
    cursor: pointer;
}

#hamburger {
    font-size: 2em;
    cursor: pointer;
    display: block; /
}

h2{
   text-align: center;
    }

.gallery {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
    padding: 1em;
}

.gallery img {
    width: 80%;
    height: auto;
}
figcaption{
    text-align: center;
    font-family: "Mooli";
    color:rgb(47, 47, 136);
}

figure {
    margin: 0;
}

footer {
    background-color: #e6da7f; 
    text-align: center;
    padding: 1em;
}
