/* Media queries para pantallas grandes */
@media (min-width: 1000px) {
    body {
        font-size: 18px; /* Ajustar el tamaño de la fuente en pantallas grandes */
    }

    header {
        padding: 30px 60px;
        font-family:Arial, Helvetica, sans-serif;
        justify-content: space-around;
    }

    nav ul li {
        margin-right: 40px; /* Más espacio entre los elementos del menú */
    }

    .about-us {
        max-width: 40%; /* El texto ocupará menos espacio en pantallas grandes */
        padding: 50px;

    }
    #nav-menu li a:hover {
        background-color: #544eac;
        color: #f4f4f4;
        border-radius: 5px;
        }
    
    #nav-menu li a {
            color: white;
            text-decoration: none;
            font-size: 1.3rem;
            padding: 10px;
            display: block;
            transition: background-color 0.3s ease; /* Suaviza el cambio de color de fondo */
        }
    .about-us h1 {
            font-size: 3rem;
        }
    main.container {
        align-items: center;
        padding:6%;
    
    }
    .main-intro, .main-benefits section {
        padding: 50px 80px;
        margin: 30px auto;
    }
    .main-benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
        

    .hero img {
        width: 100%; /* Reducir el tamaño de la imagen en pantallas grandes */
    }

    footer {
        font-size: 1.2rem;
    }
    footer p, .main-benefits h2, .main-intro h2 {
        font-size: 1.3rem;
    }
    

}
