:root{
	--background: #dacfd8;
	--button-color: #3d4fa0;
	--optionalcolor: #5e347c;

}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--optionalcolor);
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

h1 {
    background: var(--optionalcolor);
    color: white;
    margin: 0
    ;
}

.form {
    background: var(--background) ;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.form-control {
    margin-bottom: 15px;
    text-align: center;
}



label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.rating {

    display: flex;
}


input[type="submit"] {
    background:#0056b3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Suaviza el cambio de color al hacer hover */
}

input[type="submit"]:hover {
    background:yellowgreen;
}

footer {
    text-align: center;
    margin-top: 30px;
    background: var(--optionalcolor);

}

footer p {
    color: #dccfe6;
    margin: 5px 0;
    padding: 1em;
}
