
@media (min-width: 700px) {
    .container {
        position: relative;
        max-width: 1200px;
        margin: auto;
    }

    .hero {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .data, .weather {
        position: absolute;
        background-color: rgba(184, 181, 181, 0.8);
        border-radius: 10px;
        box-shadow:5px 4px 8px rgba(0, 0, 0, 0.2);
        
    }
   h2{
    color:white;
    padding:10px;
    border-radius: 10px;

    }
    .weather h2{
        text-align: center;
    }
    .data{
        top: 20%;
        left: 10%;
    }

    .weather {
        top: 20%;
        right: 10%;
    }

    
    .weather li:nth-child(2)::after { /*esto inserta el icono del sol despues(after) */ 
        content: "☀️"; /*el dos significa el segundo elemento hijo  */
        margin-right: 10px;
        font-size: 1rem;
    }
    
}
