
@media (min-width: 750px) {
    body {
        background-color: rgb(212, 244, 244);

    };
    #hamburger {
        display: flex; 

    }

    nav ul {
        display: flex; 
        justify-content: center;
        padding: 10px 0;
    }

    nav ul li {
        margin: 0 10px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        max-width: 1200px;
        margin: 0 auto;
    }

    footer {
        position: relative;
    }
}
